/* MRM Launch Page */
/* created by Patrick Doane */


/* TODO: Background img for large screens
html {
  background-attachment: fixed;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
*/

html {
  background-color: #4B148C;
}

/* Colors */

.base-color {
  background-color: #4B148C !important;
}

.base-color-text {
  color: #4B148C;
}

.accent-color {
  background-color: #CFBF0E;
}

.accent-color-2 {
  background-color: #A99B00;
}

.accent-color-text {
  color: #CFBF0E;
}

/* Header */

/* Main */

#s-main-lg {
  height: 95%;
}

#main-lg {
}

@media all and (orientation: portrait) {
  #main-mb {
    position: relative;
    top: 100px;
  }
}

#h1-lg {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
}

#h1-mb {
  font-family: 'Lobster', cursive;
  font-size: 3.2rem;
}

#p1-lg {
  font-size: 20px;
}

#p1-mb {
  margin-top: 0;
}

#form-submit-lg {
  margin-left: 0;
  padding-left: 30px;
}

#form-submit-mb {
  margin-left: 0;

}

#submit-lg:hover {
  background-color: #A99B00;
}

#submit-mb:hover {
  background-color: #A99B00;
}

#countdown-timer-mb {
  width: 100%;
}

.timer-font {
  font-weight: 600;
}

.box {
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin: 0 8px;
  padding: 0;
}

/* Footer */
